$borderRadius: 0.25rem;

.custom-table {
  border-collapse: separate;
  border-spacing: 0 1rem;

  th {
    background-color: black;
    color: white;
    font-weight: bold;
  }

  td {
    background-color: $accent;
    color: white;
  }

  th, td {
    padding: 1rem;
  }

  tr {
    th:first-child, td:first-child {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }

    th:last-child, td:last-child {
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
}
