@import 'mixins';
@import 'variables';
@import 'bootstrap';

body {
  background-color: $dark;
  color: $color;
  font-size: 18px;
}

.navbar {
  a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary {
  @include button-hover-state($primary);
}

.btn-secondary {
  @include button-hover-state($secondary);
}

.table-pill {
  transition: background-color ease-in-out 0.3s;
  background-color: $accent;
  border-radius: 1rem;

  a {
    transition: color ease-in-out 0.3s;
    color: $color;

    &:hover {
      color: $primary;
    }
  }
}

.status {
  font-weight: 700;
  text-align: center;
}

.status-completed {
  background-color: white;
  color: black;
}

.status-active {
  background-color: $success;
  color: black;
}

.status-pending {
  background-color: $primary;
  color: white;
}
